@model IEnumerable<PI_EXPERT_SA_WEB.Models.HABILIDADES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO.cedulaPK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.habilidadPK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EMPLEADO.cedulaPK)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.habilidadPK)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new {id=item.EMPLEADO.cedulaPK, habilidad=item.habilidadPK}) |
        @Html.ActionLink("Delete", "Delete", new {id=item.EMPLEADO.cedulaPK, habilidad=item.habilidadPK})
    </td>
</tr>
}

</table>
