@model IEnumerable<PI_EXPERT_SA_WEB.Models.EMPLEADO>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de empleados</h2>

@*<p>*@
   @* @Html.ActionLink("Create New", "Create")*@
@*</p>*@
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cedulaPK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disponibilidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <th>
        @Html.DisplayFor(model => item.cedulaPK)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.apellido1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.apellido2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.correo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tipoUsuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.disponibilidad)
    </td>
    @*<td>*@
    @* @Html.ActionLink("Editar", "Edit", new { id = item.cedulaPK }) |*@
    @* @Html.ActionLink("Detalles", "Details", new { id = item.cedulaPK }) |*@
    @*@Html.ActionLink("Borrar", "Delete", new { id = item.cedulaPK })*@
    @*</td>*@
<td>
    <div class="col text-center">
        @Html.ActionLink("Más información", "Details", new { id = item.cedulaPK }, new { @class = "btn btn-outline-secondary btn-sm text-center" })
    </div>
    <div class="col text-center">
        @Html.ActionLink("Habilidades", "Index", "HABILIDADES", new { id = item.cedulaPK }, new { @class = "btn btn-outline-secondary btn-sm text-center" })
    </div>
</td>
</tr>
    }

</table>
<div class="col text-center">
    <p>
        @Html.ActionLink("Crear Empleado", "Create", null, new { @class = "btn btn-info btn-large text-center" })
    </p>
</div>